<launch>

	<!-- <param name="SubTopic0" value="/sub_topic0" /> -->
	<param name="PubTopic0" value="/cmd_vel" />
	<param name="LinearSpd" value="0.5" />
	<param name="AngularSpd" value="0.7" />
	<param name="RectLength" value="1" />
	<param name="RectWidth" value="1" />

	<node pkg="motion_control" type="motion_control_node" name="motion_control_node" output="screen"/>

</launch>