<launch>

  <rosparam file="$(find Diff_H80_description)/launch/controller.yaml" command="load" />
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/Diff_H80" 
    args="rear_right_velocity_controller front_right_velocity_controller front_left_velocity_controller rear_left_velocity_controller joint_state_controller" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
    <remap from="/joint_states" to="/Diff_H80/joint_states" />
  </node>

</launch>